.menu {
    text-align: center;
}

.menu span {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: relative;
}

.menu span:hover {
    color: blue;
    cursor: pointer;
}

.sub_menu {
    display: none;
    position: absolute; 
}

.menu span:hover > .sub_menu {
    display: block;
}